@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body{
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    color: #fff;
    position: relative;
   
}
.carousel-inner,
.carousel{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.bg1{
    background: url('bg1.jpg') no-repeat center center/cover;
}

.bg2{
    background: url('bg2.jpg') no-repeat center center/cover;
}
.bg3{
    background: url('bg3.jpg') no-repeat center center/cover;
}



.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width:100%;
    height: 100%;
    padding: 0 3rem;
    position: absolute;
    top: 0;
}



h1,h2 {
    font-weight: 200;
    margin: 0.4rem;
}

h1{
    font-size: 3.5rem;
}


h2{
    font-size: 2rem;
    color: #fff;
}

@media(min-width:1200px){
 h1{
     font-size: 5rem;
 }
}

/* Cursor */
.txt{
    border-right: 2px solid #777;
}


@media(max-width:800px){
    .container{
        padding: 0 1rem;
    }

    h1{
        font-size: 3rem;
    }
}


@media(max-width:500px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }

}